.footer
{
    background-color: $grisOscuro;
    // arriba y abajo|| izquiera y derecha
    padding: $separacion/2 0;
    .contenido-footer
    {
        padding-top: $separacion / 2;
    }
    
    .copyright
    {
        color: $blanco;
        text-align: center;
    }

}